/*
Nombre: Karen Joselyn Reyes Ramirez 
 Fecha: 27/11/2024 
 Escuela: Universidad Autónoma de Durango
 Examen ordinario
 */
 body {background-color: aqua;}
 #Cuerpo1 { background-color: blue;}
 h1 {color: aquamarine;}

 #Cuerpo2 {background-color: blueviolet;}
 h2 {color: brown;}

 #Cuerpo3 {
    background-color: black;}
    h3 {color: #ffffff;}

    #Cuerpo4 {background-color: rgb(52, 52, 161);}
    h4 {color: aqua;}

    #Cuerpo5 {background-color: rgb(43, 226, 125);}
 h5 {background-color: blanchedalmond;}
 h6 {color: rgb(196, 243, 85);}
 
 
